doctype html
html
title=title
head
  meta(charset="utf-8")
  link(rel="stylesheet" href="css/stylesheet.css")
body
.navigation
  a(href="/" class=main) Главная /
  a(href="/features" class=features) Особенности /
  a(href="/news" class=news) Новости /
  a(href="/my_notes" class=myNotes) Мои заметки /
  a(href="/new_user" class=newUser) Новый пользователь /
